
.card{
    width: 25vw;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 8px 1px black;
    background-color: white;
    padding: 0px 10px;
}

.card-contents{
    text-align: left;
}

.card-button{
    margin: 10px 10px 10px 17px;
    padding: 5px 10px;
    background-color: #0f5298;
    border-radius: 5vh;
    width: 90%;
    justify-content: center;
    color: white;
    border: none;
}

.card-button:hover {
    background-color: rgb(65, 65, 234);
    transition: 0.5s;
}

.link-button{
    text-decoration: none;
    color: white;
}